.back{
    height: 85vh;
    background: #1e282c;
}

.search-input{
    float: right;
    width: 65%;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    border-top: 1px #ccc solid;
    border-right: 1px transparent;
    border-bottom: 1px #ccc solid;
    border-left: 1px #ccc solid;
    border-radius: 3px 0 0 3px;
    white-space: nowrap;
    vertical-align: middle;
}

.search-button{
    float: right;
    width: 30%;
    padding: 6px 5px;
    border-radius: 0 3px 3px 0;
}

#no-result-box{
    display: none;
}

.no-result{
    color: #ea4966;
    background: #FFF;
    padding: 3vh 2vw;
    text-align: center;
    border: 1px solid #9fc3e6;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #ccc;
}

.no-result h3{
    margin: 0;
}

em{
    color: #126ca0;
    font-weight: bold;
    font-style: normal;
    text-decoration: underline;
}

/* botones de acciones */
.table>thead:first-child>tr:last-child>th{
    width: 10%;
}
td>a{
    width: 100%;
}

td>.btn-warning {
    background-color: #12b5f3;
    border-color: #128cbb;
}

td>.btn-warning:hover, td>.btn-warning:active, td>.btn-warning:focus, td>.btn-warning:link {
    color: #fff;
    background-color: #128cbb;
    border-color: #0f7097;
}

td>.btn-primary {
    background-color: #3cbc63;
    border-color: #298043;
}

td>.btn-primary:hover, td>.btn-primary:active, td>.btn-primary:focus, td>.btn-primary:link {
    background-color: #298043;
    border-color: #144222;
}

td>.btn-danger:hover, td>.btn-danger:active, td>.btn-danger:focus, td>.btn-danger:link {
    background-color: #d73925;
    border-color: #922618;
}

.loading_abc {
    display:none;
    width: 100%;
    text-align: center;
    height: 30vh;
    vertical-align: middle;
    line-height: 30vh;
}

.box-multiple{
    background: #FFF;
    padding: 1vh 1vw 1vh 0.5vw;
    border: 1px solid #d2d6de;
    height: 20vh;
    min-width: 10vw;
    overflow-x: auto;
}

.abc .form-group{
    vertical-align: top;
}

.box-multiple input[type=checkbox] {
    margin-right: 3px;
}

.msj-abc{
    display: none;
    color: #de0c0c;
    background: #FFF;
    padding: 1vh 2vw;
    margin-bottom: 2vh;
    border: 1px solid #CCC;
    border-radius: 5px;
}